.modal{
  min-width: 625px;
}

.silent-checkbox{
  width: 129px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  box-shadow: inset 0 0 1px 0 #DDD;
  background-image: linear-gradient(#fafafa, #fff);
  padding: 6px;
}