.modal{
  min-width: 625px;
}

.silent-checkbox{
  float: left;
  text-align: left;
  width: 100px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 0 1px 0 #DDD;
  background-image: linear-gradient(#fafafa, #fff);
}